:root {


  /* =========================================================
     COLORES
  ========================================================= */

 --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-accent: #ffffff;

  --color-background: #243329;
  --color-surface: rgba(255, 255, 255, 0.08);

  --color-text: #ffffff;
  --color-text-soft: rgba(255, 255, 255, 0.78);

  --color-white: #ffffff;
  --color-black: #000000;


  /* =========================================================
     TIPOGRAFÍAS
  ========================================================= */

   --font-display: "Bodoni Moda", serif;

   --font-body: "Montserrat", sans-serif;

   --font-script: "Allura", cursive;

  /* =========================================================
     TAMAÑOS DE TEXTO
  ========================================================= */

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.2rem;
  --font-size-2xl: 3.5rem;
  --font-size-3xl: 5rem;


  /* =========================================================
     ESPACIADOS
  ========================================================= */

  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.5rem;
  --space-2xl: 6rem;


  /* =========================================================
     BORDES
  ========================================================= */
  
  --border-color:
    rgba(255, 255, 255, 0.5);

  --border-color-soft:
    rgba(255, 255, 255, 0.2);

 /* =========================================================
     FONDOS
  ========================================================= */

  --page-background:
    #243329;

  --section-background:
    transparent;

  --card-background:
    rgba(255, 255, 255, 0.06);


  /* =========================================================
     SOMBRAS
  ========================================================= */

--shadow-soft:
    0 10px 30px rgba(0, 0, 0, 0.12);

  /* =========================================================
     TRANSICIONES
  ========================================================= */

  --transition-fast: 0.25s ease;
  --transition-base: 0.45s ease;


  /* =========================================================
     DECORACIONES
  ========================================================= */

  --hero-decoration-opacity: 0;

   /* =========================================================
     RADIOS
  ========================================================= */

  --radius-sm: 10px;
  --radius-md: 18px;
  --radius-lg: 28px;
  --radius-pill: 999px;


}